.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.cardList > li {
  cursor: pointer;
  position: relative;
  padding: .5rem;
  padding-right: 3rem;
  min-height: 3rem;
}

.cardList > li:hover {
  background-color: var(--colorBg2);
}

.cardList > li > a {
  all: unset;
}

.cardList h3 {
  font-weight: bold;
  display: block;
  color: var(--colorFt1);
}

.ingredientList {
  font-size: .8rem;
  display: flex;
  flex-flow: row wrap;
  column-gap: .2rem;
}
.ingredientList > li::after {
  content: ",";
}
.ingredientList > li:last-child::after {
  content: "";
}

.button {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;

  padding: .4rem;
  color: var(--colorFt3);
  background-color: var(--colorButton1);
  border-radius: .4rem;
  height: 2rem;
  width: 2rem;
  text-align: center;
}
.button.delete {
  position: absolute;
  top: .5rem;
  right: .5rem;
  z-index: 1;
}
.button.favorite {
  position: absolute;
  top: .5rem;
  right: .5rem;
  z-index: 1;
  font-size: 1.4rem;
  padding: .1rem;
}
.button.add {
  position: absolute;
  top: .5rem;
  right: 3rem;
}
.button img {
  height: 100%;
  width: 100%;
  filter: invert(100%);
}