.App {
    font-family: sans-serif;
    text-align: center;
    width: 100%;
    z-index:0;
    /* border:1px red solid; */
  }
  
  .multi-range-slider-container {
    display: flex;
    flex-direction: column;
  }

  .divOutput {
    display: flex;
    flex-direction:column;
    width:100%;
    gap:0.2rem;
    align-items: center;
    /* padding:0.1rem 0.5rem; */
    /* padding:0.8rem 0.3rem; */
  }

  .divOutput > div {
    width: 100%;
    font-size:0.6rem;
  }

  .divOutput label {
    font-size:1rem;
    font-weight:300;
    font-family: 'Playpen Sans', cursive;
  }
  .divOutput span {
   padding:0.3rem;
   font-size:0.9rem;
   font-family: 'Playpen Sans', cursive;
  }

  .multi-range-slider-container .multi-range-slider .thumb::before, .multi-range-slider-container .multi-range-slider .bar-inner {
    box-shadow: none;
    border:1px var(--colorOrange) solid;
  }
  