.section {
    padding:2rem;
}

.section-li__container--options {
    width:4rem;
    display: flex;
    justify-content:flex-end;

}

.section__recipe {
    margin:1rem;
}

.hidden {
    display: none;
}
