@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: "Poppins", sans-serif;

  --colorBg1: white;
  --colorBg2: #f5eae3;
  --colorBg3: #f3d7c5;
  --colorBg4: #fabd97;

  --colorFt1: black;
  --colorFt2: #303030;
  --colorFt3: white;
  --colorFt4: #c95a15;

  --colorButton1: #f76b15;
  --colorButton2: #c95a15;

  --mobile-breakpoint: 600px;
	--tablet-breakpoint: 900px;
  --laptop-breakpoint:1400px;
}

#root {
  position: relative;
  width: 100%;
  min-height: 100vh;

  overflow-x: hidden;
  color: var(--colorFt2);
}
main {
  position: relative;
  margin-bottom: 2.5rem;
  padding: 1rem;
  min-height: calc(100vh - 3rem - 2.5rem);
}
main.small {
  margin-left: 15rem;
}
