.divDropDonwList {
    /* background-color:red; */
    position:relative;
}

.sectionRecipe {
    display: flex;
    flex-direction: column;
    gap:1rem;
    /* overflow-y:scroll; */
    font-family: 'Playpen Sans', cursive;
    z-index:100;
   
}

.scrollY {
    overflow-y:scroll;
}

.sectionRecipe > div {
    display:flex;
    align-items: center;
    
    margin-bottom:1rem;
}
.sectionRecipe > div img {
    width:4rem;
    
}

.sectionRecipe button {
    border-radius:0.3rem;
    border:none;
}

.sectionRecipe > input {
    font-family: 'Playpen Sans', cursive;
}

.sectionRecipe .sectionRecipeName {
    margin-left:1rem;
    font-size: 2.4rem;
    width:fit-content;
    padding:1rem;
    text-align:center;
    background: linear-gradient(to right, var(--colorOrangeDark), var(--colorOrange), var(--colorOrange),var(--colorOrangeDark) );
    background-size:3rem;
    color:white;
    border-radius: 0.3rem;
    font-family: "Poppins", sans-serif;
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,rgba(45, 35, 66, 0.15) 0 7px 13px -3px,var(--colorOrange) 0 -3px 0 inset;
    
}

.sectionRecipe .sectionRecipeName img {
    width:2rem;
}

.timeContainer {
    display:flex;
    flex-flow:row wrap;
    gap:1rem;
}

.preparatingTimeContainer, .cookingTimeContainer {
    display:flex;
    flex-direction:column;
    gap:2rem;
}

.preparatingTimeContainer time, .preparatingTimeContainer input, .cookingTimeContainer time, .cookingTimeContainer input {
    align-items: center;
    appearance: none;
    border-radius: 4px;
    border-width: 0;
    box-sizing: border-box;
    color: white;
    display: inline-flex;
    font-family: 'Playpen Sans', cursive;
    height: 2rem;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding:2rem;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 2rem;
 }
 
 .cookingTimeContainer time, .cookingTimeContainer input {
     background-color: var(--colorOrange);
     box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,rgba(45, 35, 66, 0.15) 0 7px 13px -3px,var(--colorOrange) 0 -3px 0 inset;
   
 }
 .preparatingTimeContainer time, .preparatingTimeContainer input {
    background-color: var(--colorBtnStarterAside);
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,rgba(45, 35, 66, 0.15) 0 7px 13px -3px,var(--colorBtnStarterAside) 0 -3px 0 inset;
 }
 
 .preparatingTimeContainer time:hover {
  box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, var(--colorBtnStarterAside) 0 -3px 0 inset;
  transform: translateY(-2px);
 }

 .cookingTimeContainer time:hover {
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, var(--colorOrange) 0 -3px 0 inset;
  transform: translateY(-2px);
 }

 .preparatingTimeContainer input, .cookingTimeContainer input {
    padding:0.5rem;
 }



.sectionRecipeField h3, .sectionRecipeFieldH4, .sectionRecipeField legend, .sectionRecipeField > div > span {
    font-family: "Poppins", sans-serif;
}

.sectionRecipeField h3, .sectionRecipeField legend {
    text-decoration: underline;

}

.sectionRecipeFieldH4 {
    color:var(--colorOrange)
}

.sectionRecipeTop, .sectionRecipeBottom {
    display: flex;
    border-radius: 0.3rem;
}
.sectionRecipeTop {
    justify-content: space-between;
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,rgba(45, 35, 66, 0.15) 0 7px 13px -3px,var(--colorbg3) 0 -3px 0 inset;
    padding:0.2rem;
}

.sectionRecipeTop > div {
    padding:1rem;
    justify-self: center;
    display:flex;
    flex-direction:column;
    gap:1rem;
}

.sectionRecipeTop > div > * {
    margin:0.5rem 0rem;
}

.sectionRecipeBottom {
    width: fit-content;
    align-self: end;
    align-items: center;
}

.sectionRecipeBottom > * {
    justify-self: center;
    margin:0.3rem;
    background-color: inherit;
}

.sectionRecipeTop figure, .sectionRecipeTop form {
    width:50%;
    position: relative;
    overflow: hidden;
    /* border:1px red solid; */
}

.sectionRecipeTop figure figcaption {
    position: absolute;
    bottom:0.1rem;
    width:100%;
    text-align:center;
    padding:0.5rem;
    background-color: rgba(0, 0, 0, 0.3);
    color:white;
}

.sectionRecipe img {
    width:100%;
    border-radius:0.3rem;
}

.sectionRecipe input, .sectionRecipe textarea {
    text-align: center;
    border:none;
    width:fit-content;
    margin: 0.3rem 0rem;
}


.sectionRecipeTop, .sectionRecipeBottom {
    display: flex;
    border-radius: 0.3rem;
}

.sectionRecipe input, .sectionRecipe label {
    border-radius:0.3rem;
    padding:0.7rem;
}

.sectionRecipeField {
    display: flex;
    font-size:1.5rem;
    width:fit-content;
    gap:1rem;
}

.sectionRecipeField, .sectionRecipe ul {
    padding: 0.3rem;
}

.sectionRecipe ul {
    display:flex;
    flex-wrap: wrap;
    /* gap:1rem; */
    /* border-top:1px black solid; */
    padding:1.4rem 1rem;
}

.sectionRecipe ul li {
    /* width:100%; */
    overflow: hidden;

}


/* STEPS */

.sectionRecipeFieldStepsContainer {
    display:flex;
    flex-direction: column;
    gap:1rem;
}

.sectionRecipe ul li > div {
    display: flex;
    align-items: center;
    
}

.sectionRecipe ul li div > div {
    /* // moins étapes */
    /* width:fit-content; */
    height: fit-content;
    overflow: hidden;
    position: absolute;
    left:2rem;
}

.sectionRecipe textarea {
    /* // textarea step */
    padding:0.3rem;
    text-align: start;
    width:100%;
    font-family: 'Poppins', sans-serif;
}

.sectionRecipe  p {
    background-color: rgb(255, 255, 255);
    line-height: 1.4rem;
    margin-top: 0.3rem;
}

.sectionRecipe  p, .sectionRecipe  textarea {
    border-radius: 0.3rem;
    padding:0.5rem
}

.BtnDeleteStep {
    border:none;
    background-color: inherit;
}

textarea:focus{
    outline: none;
}

/* INGREDIENT */

.sectionRecipeFieldIngredientsContainer figure {
    position: relative;
}

.sectionRecipeFieldIngredientsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap:1rem;
}

.sectionRecipe .sectionRecipeFieldIngredientsContainer li {
    /* // container ingredient */
    width:15rem;
    padding-bottom:2rem;
    padding:0rem 0rem;
    overflow: hidden;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.11);
}

.sectionRecipe .sectionRecipeFieldIngredientsContainer li div {
    width:100%;
}

.sectionRecipeFieldIngredientsContainer figcaption {
    padding:1rem;
}

.sectionRecipeFieldIngredientsContainer figcaption input {
    height:1.8rem;
    font-family: 'Playpen Sans', cursive; 
    padding:0rem;
}

.figcaption {
    display:flex;
    flex-direction:column;
}

.figcaptionDiv {
    display:flex;
    flex-flow: row nowrap;
    gap:0.3rem;
    background-color: inherit;
}

.figcaption .figcaptionDiv input {
    width:fit-content;
}





.BtnDeleteIngredient {
    position:absolute;
    top:0;
    right:0;
    border:0.5px grey solid;;
    border-radius: 0.3rem;
    padding:0.2rem;
    background-color:inherit;
}




/* // Modal creation */

.sectionRecipeFigure {
        display:flex;
        flex-direction: column;
        border:1px rgb(103, 119, 168) dashed;
        height: 15rem;
        /* width: 90%; */
        justify-content: center;
        align-items: center;
        cursor: pointer;
}


@media screen and (max-width: 780px) {
  
    .sectionRecipeTop {
        flex-direction: column-reverse;
    }

    .sectionRecipeTop figure {
        width:100%;
    }
    
}

@media screen and (max-width: 600px) {
    .sectionRecipe .sectionRecipeFieldIngredientsContainer li {
        width:12rem;
    } 

    .sectionRecipe .sectionRecipeName {
        font-size:2rem;
    }

    .sectionRecipe .sectionRecipeField {
        font-size:1.1rem;
    }

    .preparatingTimeContainer time, .cookingTimeContainer time {
        font-size:1.6rem;
    }

    .sectionRecipe .sectionRecipeFieldIngredientsContainer li figcaption, .sectionRecipeFieldStepsContainer p, .sectionRecipeFieldStepsContainer textarea {
        font-size:0.8rem;
        
    }

}

@media screen and (max-width: 500px) {
    .sectionRecipe .sectionRecipeFieldIngredientsContainer li {
        width:9rem;
    }

    .sectionRecipe .sectionRecipeName {
        font-size:1.7rem;
    }
}

@media screen and (max-width: 400px) {
    .sectionRecipe .sectionRecipeFieldIngredientsContainer li {
        width:100%;
    } 

    .sectionRecipe > div > img {
        width:2.7rem;
    }

    .sectionRecipe .sectionRecipeName {
        font-size:1.4rem;
    }
}


  




