.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap:2rem;
    padding: 0rem 1.5rem;
    box-shadow: 0px -3px 8px -4px rgba(0,0,0,0.48);
}

.footer img {
    width:3rem;
    height:auto;
}

.footer div {
    display:flex;
    align-items: center;
    gap: 1rem;
}

.footer p {
    font-weight: 700;
    font-size:0.7rem;
}

.footer a {
    font-size:0.7rem;
    color: rgb(156, 155, 155);
}

@media screen and (max-width: 340px) { /*  --gridd-breakpoint */
  
  .footer p, .footer a {
    font-size:0.5rem;
  }
  
    
  }

